.login-box{
    width: 600px;
    box-shadow: -12px 11px 11px 7px #575f6a !important;
    position: absolute;
    left: 320px;
    top: 150px;
    z-index: 9;
    opacity: .7;
}
.login-box .title{
    text-align: center;
}
.login-box:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    filter: blur(15px);
    background-image: url("../img/bg.jpg");
    z-index: -9; 

}
.btn-login{
    width:60%;
    
}
.bg{
    background-image: url("../img/bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
}
.span{
    padding: 5px;
}
.effect01{
    color: #fefefe;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 
            -3px 1px 0px #c0c0c0,
            0px 2px 0px #b0b0b0,
            0px 3px 0px #a0a0a0,
            0px 4px 0px #909090
            0px 5px 10px rgba(0, 0, 0, 0.6);
            ;
}

.light{
    font-size: 30px;
    color: #fefefe;
    text-shadow: 0 0 0.5em #0ae642,0 0 0.2em #5c5c5c;
}
.ale{
    color: rgba(115, 8, 8, 0.74);
}
.container{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bread{
    width: 980px;
    height: 30px;
}
