.bg{
    background-image:url("../assets/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    font-weight: 1000;
}

.el-card__header{
    display:flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    transform: scale(1.05);
}

input:focus{
    background-color: rgba(245, 222, 179, 0.8);
}
input:hover{
    background-color: rgb(245, 222, 179);
}

.login-box{
     width: 600px;
    /*margin-left: 500px;
    margin-top: 300px; */
    background-color: transparent;
    box-shadow: -12px 11px 11px 7px #575f6a !important;

    position: absolute;
    left: 600px;
    top: 200px;
    z-index: 9;
    opacity: .8;
    
}

.login:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    filter: blur(20px);
    background-image: url("../assets/bg.jpg");
    z-index: -3;
}

span{
    padding: 5px;
}

.effect01{
    color: #fefefe;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 
    -3px 1px 0px #c0c0c0,
    0px 2px -px #b0b0b0,
    0px 3px 0px #909090,
    0px 5px 10px rgba(0,0,0,0.6);
}

.colortxt{
    font-size: 30px;
    background: linear-gradient(to right,red,blue);
    -webkit-background-clip: text;
    color: transparent;
}

.light{
    font-size: 30px;
    color: #fefefe;
    text-shadow: 0 0 0.5em #0ae642, 0 0 0.2em #5c5c5c;
}