<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sale</title>
</head>
<body>
    <div id="app">
        <div ref="chart" style="width:50%;height:376px"></div>
    </div>
    
</body>
<script src="/website/lib/vue.js"></script>
<script src="/website/lib/echarts/echarts.js"></script>
<script src="/website/lib/jquery.js"></script>
<script src="/website/lib/mock.js"></script>
<script src="/website/sy/mock/dict.js"></script>
<script src="/website/sy/mock/product.js"></script>
<script src="/website/sy/js/bill/sale.js" type="module"></script> 
</html>